{{template "base" .}}

{{define "title"}}About{{end}}

{{define "body"}}
    <div class="row mt-2 justify-content-center">
        <div class="col">
            <h2>About</h2>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class='card bg-secondary border-dark'>
                <div class='card-body border-dark text-justify'>
                    <p>This custom translator was designed and built by the Third Exodus Assembly Data Science Department and is made  accessible over the web through the freewill offerings of the members of the Third Exodus Assembly. It is intended to accelerate and optimize the production of the written publications of the Bride-Promises of God to every kindred tongue and nation across the earth, which were revealed through the ministry of God’s Prophet-Messenger, Bro William Marrion Branham, for the Elect in this Day. It is not meant to promote any special
                    doctrine or person, save, the Lord Jesus Christ and His Divine Word.</p>

                    <p>The use of this tool(website) is highly regulated and monitored to ensure that the value it was designed to bring remains within the boundaries and principles of our local assembly. Meaning, this custom translator is not to be used for any personal or collective purposes, motives or agendas other than those stated above.</p>
                </div>
            </div>
        </div>
    </div>
{{end}}
