{{template "base" .}}

{{define "title"}}Create a New Pair{{end}}

{{define "body"}}
<form action='/pair/create' method='POST'>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div class="form-group row">
            <div class="col">
                <label for="sourceLanguage" class='text-white'>Source:</label>
                {{with .Errors.Get "sourceLanguage"}}
                    <label for="sourceLanguage" class='bg-danger text-white'>{{.}}</label>
                {{end}}
                {{$code := or (.Get "sourceLanguage") "EN"}}
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="sourceEN" name='sourceLanguage'
                         value='EN' {{if (eq $code "EN")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="sourceEN">English</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="sourceES" name='sourceLanguage'
                         value='ES' {{if (eq $code "ES")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="sourceES">Spanish</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="sourceFR" name='sourceLanguage'
                         value='FR' {{if (eq $code "FR")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="sourceFR">French</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="sourcePT" name='sourceLanguage'
                         value='PT' {{if (eq $code "PT")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="sourcePT">English</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="sourceSW" name='sourceLanguage'
                         value='SW' {{if (eq $code "SW")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="sourceSW">Swahili</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="sourceVersion" class='text-white'>Source text version:</label>
                {{with .Errors.Get "sourceVersion"}}
                    <label for="sourceVersion" class='bg-danger text-white'>{{.}}</label>
                {{end}}
                <input class="form-control form-control-lg bg-secondary" type="text" name='sourceVersion'
                       value='{{.Get "sourceVersion"}}'/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="sourceText" class='text-white'>Source text:</label>
                {{with .Errors.Get "sourceText"}}
                    <label for="sourceText" class='bg-danger text-white'>{{.}}</label>
                {{end}}
                <textarea class="form-control form-control-lg bg-secondary" name='sourceText'>
                    {{.Get "sourceText"}}
                </textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="targetLanguage" class='text-white'>Target:</label>
                {{with .Errors.Get "targetLanguage"}}
                    <label for="targetLanguage" class='bg-danger text-white'>{{.}}</label>
                {{end}}
                {{$code := or (.Get "targetLanguage") "ES"}}
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="targetEN" name='targetLanguage'
                         value='EN' {{if (eq $code "EN")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="targetEN">English</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="targetES" name='targetLanguage'
                         value='ES' {{if (eq $code "ES")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="targetES">Spanish</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="targetFR" name='targetLanguage'
                         value='FR' {{if (eq $code "FR")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="targetFR">French</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="targetPT" name='targetLanguage'
                         value='PT' {{if (eq $code "PT")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="targetPT">English</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input bg-secondary" id="targetSW" name='targetLanguage'
                         value='SW' {{if (eq $code "SW")}}checked{{end}}>
                  <label class="custom-control-label text-white" for="targetSW">Swahili</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="targetVersion" class='text-white'>Target text version:</label>
                {{with .Errors.Get "targetVersion"}}
                    <label for="targetVersion" class='bg-danger text-white'>{{.}}</label>
                {{end}}
                <input class="form-control form-control-lg bg-secondary" type="text" name='targetVersion'
                       value='{{.Get "targetVersion"}}'/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="targetText" class='text-white'>Target text:</label>
                {{with .Errors.Get "targetText"}}
                    <label for="targetText" class='bg-danger text-white'>{{.}}</label>
                {{end}}
                <textarea class="form-control form-control-lg bg-secondary" name='targetText'>
                    {{.Get "targetText"}}
                </textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="detail" class='text-white'>Translation detail:</label>
                {{with .Errors.Get "detail"}}
                    <label for="detail" class='bg-danger text-white'>{{.}}</label>
                {{end}}
                <input class="form-control form-control-lg bg-secondary" type="text" name='detail'
                       value='{{.Get "detail"}}'/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <input class="btn btn-secondary btn-block" type='submit' value='Create pair'>
            </div>
        </div>
    {{end}}
</form>
{{end}}