{{define "footer"}}
<footer class="page-footer font-small bg-dark sticky-bottom">
	<div class="text-center text-muted">
		Powered by <a style='color:white;' class="footer-link" href='https://golang.org/'>Go</a> in {{.CurrentYear}}
	</div>
</footer>
{{end}}