{{template "base" .}}

{{define "title"}}Choose language{{end}}
{{define "headScript"}}
<link rel="stylesheet" type="text/css" href="/static/css/landing/base.css"/>
<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this page in a modern browser that supports CSS Variables.");</script>
{{end}}
{{define "postScript"}}
<script src="/static/js/landing/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/landing/TweenMax.min.js"></script>
<script src="/static/js/landing/demo.js"></script>
{{end}}

{{define "body"}}
	<div class="container">
		<div id="landing-menu" class="menu">
			<div class="menu__item">
				<span class="menu__item-number text-white">ES</span>
				<span class="menu__item-textwrap"><span class="menu__item-text">Spanish</span></span>
				<a href="/language/ES" class="menu__item-link text-white">enter</a>
			</div>
			<div class="menu__item">
				<span class="menu__item-number text-white">FR</span>
				<span class="menu__item-textwrap"><span class="menu__item-text">French</span></span>
				<a href="/language/FR" class="menu__item-link text-white">enter</a>
			</div>
			<div class="menu__item">
				<span class="menu__item-number text-white">PT</span>
				<span class="menu__item-textwrap"><span class="menu__item-text">Portuguese</span></span>
				<a href="/language/PT" class="menu__item-link text-white">enter</a>
			</div>
			<div class="menu__item">
				<span class="menu__item-number text-white">SW</span>
				<span class="menu__item-textwrap"><span class="menu__item-text">Swahili</span></span>
				<a href="/language/SW" class="menu__item-link text-white">enter</a>
			</div>
		</div>
		<div class="page">
			<div class="gridwrap">
				<div class="grid grid--layout-1">
					{{ range $peopleURL :=  rangePeople "ES" }}
						<div class="grid__item" style="background-image: url({{$peopleURL}})"></div>
					{{end}}
					{{ range $flagURL :=  rangeFlags "ES" }}
						<div class="grid__item" style="background-image: url({{$flagURL}})"></div>
					{{end}}
				</div>
				<div class="grid grid--layout-2">
					{{ range $peopleURL :=  rangePeople "FR" }}
						<div class="grid__item" style="background-image: url({{$peopleURL}})"></div>
					{{end}}
					{{ range $flagURL :=  rangeFlags "FR" }}
						<div class="grid__item" style="background-image: url({{$flagURL}})"></div>
					{{end}}
				</div>
				<div class="grid grid--layout-3">
					{{ range $peopleURL :=  rangePeople "PT" }}
						<div class="grid__item" style="background-image: url({{$peopleURL}})"></div>
					{{end}}
					{{ range $flagURL :=  rangeFlags "PT" }}
						<div class="grid__item" style="background-image: url({{$flagURL}})"></div>
					{{end}}
				</div>
				<div class="grid grid--layout-4">
					{{ range $peopleURL :=  rangePeople "SW" }}
						<div class="grid__item" style="background-image: url({{$peopleURL}})"></div>
					{{end}}
					{{ range $flagURL :=  rangeFlags "SW" }}
						<div class="grid__item" style="background-image: url({{$flagURL}})"></div>
					{{end}}
				</div>
				<button class="gridback"><svg class="icon icon--arrow"><use xlink:href="#icon-arrow"></use></svg></button>
			</div><!-- /gridwrap -->
		</div><!-- /page -->
	</div>
{{end}}