{{template "base" .}}

{{define "title"}}Request password change{{end}}

{{define "body"}}
<form action='/user/password/request' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div class="form-group row">
            <div class="col">
                <label for="email" class='text-white'l>Email:</label>
                {{with .Errors.Get "email"}}
                    <label for="email" class='bg-danger text-white'>{{.}}</label>
                {{end}}
                <input class="form-control form-control-lg bg-secondary text-white" type='email' name='email'
                       value='{{.Get "email"}}'>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <input class="btn btn-secondary btn-block" type='submit' value='Request reset link'>
            </div>
        </div>
    {{end}}
</form>
{{end}}