{{template "base" .}}

{{define "title"}}Manage pairs - Select Book and Chapter{{end}}

{{define "body"}}
    <div>
        <div class="row mt-1">
            <div class="col mt-1">
                <a class="btn btn-outline-light btn-sm btn-block" role="button" href='/pair/create'>
                    Create new training pair
                </a>
            </div>

            <div class="col mt-1">
                <a class="btn btn-outline-light btn-sm btn-block" role="button" href='/pairs/upload'>
                    Upload training pairs from file
                </a>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <h2>Book and chapter selection</h2>
        </div>

        <div class="row">
            <div class="col mt-1 text-center">
                {{with .ValidationStats}}
                    <div class="alert alert-info font-weight-bold">
                        Validated {{.Validated}} of {{.Total}} pairs ({{printf "%.2f" .Percent}}%)
                    </div>
                {{end}}
            </div>
        </div>

        <div class="row w-100">
            <div class="col">
                <div class="row w-100">
                    <h3 class="white-text">
                        Old Testament
                    </h3>
                </div>
                <div class="row w-100">
                    <ul class="list w-100">
                        {{range .Books}}
                        {{if eq .Testament "OT" }}
                        <div class="row w-100">
                            <div class="col col-3 text-white">
                                <div
                                    {{ if eq .Stats.Validated .Stats.Total }}
                                        class="text-white"
                                    {{ else }}
                                        class="text-warning"
                                    {{ end }}
                                    >
                                    <strong data-toggle="tooltip" data-placement="top"
                                            title="{{printf "%.2f" .Stats.Percent}}%"
                                    >{{.Name}}</strong>
                                </div>
                            </div>
                            <div class="col col-9">
                                <ul class="list-inline">
                                    {{ $book := . }}
                                    {{ range $i :=  rangeInt 1 .Chapter }}
                                        {{ $accessIndex := minus $i 1 }}
                                        {{ $stat := index $book.ChapterStats $accessIndex }}
                                        <li class="list-inline-item">
                                            <a
                                                {{ if eq $stat.Validated $stat.Total }}
                                                    class="text-white"
                                                {{ else }}
                                                    class="text-warning"
                                                {{ end }}
                                               href="/pair/book/{{$book.ID}}/chapter/{{$i}}"
                                               data-toggle="tooltip" data-placement="top"
                                               title="{{printf "%.2f" $stat.Percent}}%">{{$i}}</a>
                                        </li>
                                    {{end}}
                                </ul>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-2 w-100">
            <div class="col">
                <div class="row w-100">
                    <h3 class="white-text">
                        New Testament
                    </h3>
                </div>
                <div class="row w-100">
                    <ul class="list w-100">
                        {{range .Books}}
                        {{if eq .Testament "NT" }}
                        <div class="row w-100">
                            <div class="col col-3 text-white">
                                <div
                                    {{ if eq .Stats.Validated .Stats.Total }}
                                        class="text-white"
                                    {{ else }}
                                        class="text-warning"
                                    {{ end }}
                                    >
                                    <strong data-toggle="tooltip" data-placement="top"
                                            title="{{printf "%.2f" .Stats.Percent}}%"
                                    >{{.Name}}</strong>
                                </div>
                            </div>
                            <div class="col col-9">
                                <ul class="list-inline">
                                    {{ $book := . }}
                                    {{ range $i :=  rangeInt 1 .Chapter }}
                                        {{ $accessIndex := minus $i 1 }}
                                        {{ $stat := index $book.ChapterStats $accessIndex }}
                                        <li class="list-inline-item">
                                            <a
                                                {{ if eq $stat.Validated $stat.Total }}
                                                    class="text-white"
                                                {{ else }}
                                                    class="text-warning"
                                                {{ end }}
                                               href="/pair/book/{{$book.ID}}/chapter/{{$i}}"
                                               data-toggle="tooltip" data-placement="top"
                                               title="{{printf "%.2f" $stat.Percent}}%">{{$i}}</a>
                                        </li>
                                    {{end}}
                                </ul>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{end}}
