{{template "base" .}}

{{define "title"}}Models{{end}}

{{define "body"}}
    <h2>Models created</h2>
    {{if .Models}}
     <table>
        <tr>
            <th>Display Name</th>
            <th>Dataset ID</th>
            <th>Deployment State</th>
            <th>Base Model</th>
            <th>Source Language</th>
            <th>Target Language</th>
            <th>Create Time</th>
            <th>Update Time</th>
            <th>Operations</th>
        </tr>
        {{range .Models}}
        <tr>
            <td>{{.DisplayName}}</td>
            <td>{{.DatasetId}}</td>
            <td>{{.DeploymentState}}</td>
            <td>{{.TranslationModelMetadata.BaseModel}}</td>
            <td>{{.TranslationModelMetadata.SourceLanguageCode}}</td>
            <td>{{.TranslationModelMetadata.TargetLanguageCode}}</td>
            <td>{{humanDate .CreateTime}}</td>
            <td>{{humanDate .UpdateTime}}</td>
            <td>
                <form action='/model/delete/{{.Name | last}}' method='GET'>
                    <input type='hidden' name='csrf_token' value='{{$.CSRFToken}}'>
                    <input type='submit' value='Delete'>
                </form>
            </td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>No models created yet!</p>
    {{end}}
{{end}}