{{template "base" .}}

{{define "title"}}Pair #{{.Pair.ID}}{{end}}

{{define "body"}}
    {{with .Pair}}
    <div>
        <div class="row">
            {{template "pair" .}}
        </div>
        <div class="row mt-2">
            <div class="col mt-1">
                <a class="btn btn-outline-light btn-sm btn-block" role="button" href='/pair/edit/{{.ID}}'>
                    Edit this pair
                </a>
            </div>
        </div>
        {{if not .Validated}}
        <div class="row mt-2">
            <div class="col mt-1">
                <a class="btn btn-outline-light btn-sm btn-block" role="button" href='/pair/validate/{{.ID}}'>
                    Go to validate this pair
                </a>
            </div>
        </div>
        {{end}}
    </div>
    {{end}}
{{end}}