{{template "base" .}}

{{define "title"}}Training operations status{{end}}

{{define "body"}}
    <h2>Training report</h2>
    {{if and .TrainReport.Running .TrainReport.Error .TrainReport.Cancelled}}
        <p>Nothing to report yet!</p>
    {{end}}

    {{with .TrainReport}}
        <h3>Running training operations</h3>
        {{if .Running}}
            <table>
                <tr>
                    <th>Operation ID</th>
                    <th>Create Time</th>
                    <th>Update Time</th>
                    <th>Operations</th>
                </tr>
                {{range .Running}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{humanDate .CreateTime}}</td>
                    <td>{{humanDate .UpdateTime}}</td>
                    <td>
                        <form action='/train/cancel/{{.Id | last}}' method='GET'>
                            <input type='hidden' name='csrf_token' value='{{$.CSRFToken}}'>
                            <input type='submit' value='Cancel'>
                        </form>
                    </td>
                </tr>
                {{end}}
            </table>
        {{end}}

        <h3>Cancelled training operations</h3>
        {{if .Cancelled}}
            <table>
                <tr>
                    <th>Operation ID</th>
                    <th>Create Time</th>
                    <th>Update Time</th>
                </tr>
                {{range .Cancelled}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{humanDate .CreateTime}}</td>
                    <td>{{humanDate .UpdateTime}}</td>
                </tr>
                {{end}}
            </table>
        {{end}}

        <h3>Failed training operations</h3>
        {{if .Error}}
            <table>
                <tr>
                    <th>Operation ID</th>
                    <th>Progess</th>
                    <th>Error Code</th>
                    <th>Create Time</th>
                    <th>Update Time</th>
                </tr>
                {{range .Cancelled}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.ProgressPercent}} %</td>
                    <td>{{.ErrorCode}}</td>
                    <td>{{humanDate .CreateTime}}</td>
                    <td>{{humanDate .UpdateTime}}</td>
                </tr>
                {{end}}
            </table>
        {{end}}
    {{end}}
{{end}}