{{template "base" .}}

{{define "title"}}Create New Pairs from file{{end}}

{{define "body"}}
<form action='/pairs/upload' method='POST' enctype='multipart/form-data'>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div>
            {{with .Errors.Get "fileName"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type="file" name="fileName">{{.Get "uploadFile"}}</input>
        </div>
        <div>
            <input type="submit" value="Upload file" />
        </div>
    {{end}}
</form>
{{end}}